body {
    background-image: radial-gradient(rgba(189, 154, 167, 0.432), #fff, #4f2a46);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.body-content {
    background-color: beige;
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
}

.form-content {
    display: grid;
    grid-template-rows: auto;
    padding: 30px;
}

.form {
    display: grid;
   
}
.text-input {
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent h2 {
    font-weight: 700;
}

.nod {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.forgot {
    margin-left: 30%;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(82, 51, 82);
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

button:hover {
    background-color: gray;
}

.OR {
    display: flex;
    margin-top: 8px;
}

.google {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    border-style: solid;
    text-align: center;
    border-radius: 10px;
    width: full;
    height: 50px;
}

.google img {
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.acc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

@media (max-width: 768px) {
    .body-content {
        flex-direction: column;
        background-color: blanchedalmond;
    }

    .form-content {
        width: full;
    }
}